* {
    font-family: 'Roboto', sans-serif;
}

.img-principal-dataunirio {
    width: 75%;
}

/* Cópia do "img-responsive" do Bootstrap */
.img-responsiva {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-inverse {
    background-image: linear-gradient(#748ba2, #0754a0 60%, #084f95) !important;
    border-bottom: 1px solid rgba(2, 34, 65, 0.65) !important;
}

.destaque-button {
    text-align: center;
}

.midia {
    text-align: center;
}

#rodape {
    text-align: center;
}